@model ContatoModel
@{
    ViewData["Title"] = "Confirmação apagar Contato";
}

<div class="text-center">
    <h1>Atenção!</h1> <br/>
    <h3>Realmente deseja apagar o contato (@Model.Nome)?</h3> <br />

    <a role="button" class="btn btn-primary" asp-controller="Contato" asp-action="Index">Cancelar</a>
    <a role="button" class="btn btn-danger" asp-controller="Contato" asp-route-id="@Model.Id" asp-action="Delete">Deletar</a>
</div>


